body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.calculadora{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#display {
    width: 90%;
    height: 40px;
    font-size: 1.5em;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}

button {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    background: #ddd;
    border-radius: 5px;
}

button.operador {
    background: #f39c12;
    color: #fff;
}

button:hover {
    background: #bbb;
}